.content {
    display: flex;
    padding: 3rem 5rem;
    gap: 4rem;
}

@media screen and (max-width: 840px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .content {
    padding: 1.8rem;
  }
}