.footer {

  display: flex;
  flex-direction: column;
}

.topSection,
.bottomSection {
  display: flex;
}

.topSection {
  padding: 1rem 7rem;
  color: #FFF;
  background: rgba(0, 90, 170, 1);
  font-size: 16px;
}

.columnTopSection {
  display: flex;
  gap: 80px;
  align-items: center;
  width: 75%;
}

.columnSmallTopSection {
  width: 25%;
  align-items: center;
  display: flex;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottomSection {
  color: rgba(0, 90, 170, 1);
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 7rem;
  font-size: 12px;
}

.bottomSection a {
  color: rgba(0, 90, 170, 1);
  text-decoration: none;
}