.footer {

  display: flex;
  flex-direction: column;
}

.topSection,
.bottomSection {
  display: flex;
}

.topSection {
  padding: 1rem 7rem;
  color: #FFF;
  background: rgba(0, 90, 170, 1);
  font-size: 16px;
}

.columnTopSection {
  display: flex;
  gap: 80px;
  align-items: center;
  width: 75%;
}

.columnSmallTopSection {
  width: 25%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.socialMediaIcons {
  display: flex;
  gap: 12px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottomSection {
  color: rgba(0, 90, 170, 1);
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 7rem;
  font-size: 12px;
}

.bottomSection a {
  color: rgba(0, 90, 170, 1);
  text-decoration: none;
}

@media screen and (max-width: 1310px) {

  .topSection {
    display: none;

  }

  .bottomSection {
    background: rgba(0, 90, 170, 1);
    color: #FFF;
  }

  .bottomSection a {
    color: #FFF;
  }

}

@media screen and (max-width: 1210px) {

  .bottomSection {
    flex-direction: column;
    gap: 12px;
  }

}

@media screen and (max-width: 780px) {
  .bottomSection {
    padding: 1rem 1.8rem;
  }
}