.main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
}


.heroSection {
    background-image: url('/assets/02.webp');
    height: 700px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    color: #FFF;
    font-weight: 600;
    font-size: 44px;
    flex-direction: column;
    padding: 0 0 2em 9em;
}

.CardsContainer {
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partnerLogo {
  max-width: 150px;
  width: 100%;
  flex: 1;
  display: flex;
  height: auto;
  object-fit: contain;
}