.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6rem;
  justify-content: center;
  align-items: center;
}


.heroSection {
  background-image: url('/assets/02.webp');
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: start;
  color: #FFF;
  justify-content: space-between;
  font-weight: 600;
  font-size: 38px;
  flex-direction: column;
  padding: 4rem 0 4rem 6rem;
}

.CardsContainer {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
}

.partnerLogo {
  max-width: 250px;
  width: 200px;
  height: 80px;
  object-fit: contain;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 60%;
  margin-top: 16px;
  background: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.searchIcon,
.filterIcon {
  cursor: pointer;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 8px 0 8px;
  font-size: 16px;
}

.searchButton {
  background-color: #0070f3;
  border: none;
  padding: 12px 12px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterMenu {
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 80px;
  z-index: 100;
  right: 32%;
}

.filterItem {
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  color: #717171;
  font-family: "Poppins";
  font-weight: 450;
  font-size: 16px;
}

.filterItem:hover {
  background-color: #f0f0f0;
}

.filterActive {
  background-color: rgba(0, 0, 0, 0.096);
  padding: 0 12px;
  border-radius: 12px;
}


.tickerWrapper {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}

.tickerTrack {
  display: flex;
  width: 200%;
  /* duas cópias ocupando 200% */
}

.tickerGroup {
  display: flex;
  flex: 0 0 50%;
  /* cada grupo ocupa metade */
  justify-content: space-around;
}

.logoItem {
  flex: 0 0 auto;
  margin: 0 10px;
}




@media screen and (max-width: 780) {
  .heroSection {
    font-size: 32px;
    padding: 3rem 0 3rem 1.8rem;

  }
}

@media screen and (max-width: 600) {
  .heroSection {
    font-size: 28px;
    height: 350px;
  }

  .searchBar {
    display: none;
  }

  .partnerLogo {
    width: 150px;
    height: 60px;
  }

}

@media screen and (max-width: 490) {
  .heroSection {
    font-size: 22px;
    height: 300px;
  }

  .partnerLogo {
    width: 100px;
    height: 40px;
  }

  .CardsContainer {
    gap: .6rem;
  }

  .main {
    gap: 2rem;
  }
}