.bannerSobre {
    width: 100%;
}

.mainSobre {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 6rem 0;
}

.titleSobre {
    font-size: 32px;
}

.textSobreWrapper {
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-wrap: balance;
    line-height: 40px;
}

.bannerSobre {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.contentSobre {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
}

@media screen and (max-width: 780px) {
    .textSobreWrapper {
        padding: 0 1.8rem;
    }

    .bannerSobre {
        height: 500px;
    }
}

@media screen and (max-width: 480px) {
    .titleSobre {
        font-size: 22px;
    }

    .contentSobre {
        font-size: 14px;
    }

    .bannerSobre {
        height: 350px;
    }
}